<h1>Delete Contact</h1>

<h2>Confirm to delete this contact?</h2>

<%= form_for :delete_confirm, Routes.case_contact_path(@conn, :delete, @case_id, @contact_id), [method: :delete], fn f -> %>
  <%= label do %>
    Yes
    <%= radio_button f, :confirm, "yes" %>
  <% end %>

  <%= label do %>
    No
    <%= radio_button f, :confirm, "no", checked: true %>
  <% end %>

  <%= submit "Confirm" %>
<% end %>

<span><%= link "Back", to: Routes.case_contact_path(@conn, :index, @case_id) %></span>
