<h1>Edit Contact</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.case_contact_path(@conn, :update, @case_id, @contact)) %>

<span><%= link "Back", to: Routes.case_contact_path(@conn, :index, @case_id) %></span>
