<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <p>
    <span><strong><%= label f, :title %></strong></span>
    <%= text_input f, :title %>
    <%= error_tag f, :title %>
  </p>

  <p>
 <span><strong><%= label f, :first_name %></strong></span>
  <%= text_input f, :first_name %>
  <%= error_tag f, :first_name %>
  </p>

  <p>
  <span><strong><%= label f, :last_name %></strong></span>
  <%= text_input f, :last_name %>
  <%= error_tag f, :last_name %>
  </p>

  <p>
  <span><strong><%= label f, :mobile_phone %></strong></span>
  <%= text_input f, :mobile_phone %>
  <%= error_tag f, :mobile_phone %>
  </p>

  <p>
  <span><strong><%= label f, :address %></strong></span>
  <%= text_input f, :address %>
  <%= error_tag f, :address %>
  </p>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
