<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Mobile phone</th>
      <th>Address</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for contact <- @contacts do %>
    <tr>
      <td><%= contact.title %></td>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.mobile_phone %></td>
      <td><%= contact.address %></td>

      <td>
        <span><%= link "Show", to: Routes.case_contact_path(@conn, :show, @case_id, contact) %></span>
        <span><%= link "Edit", to: Routes.case_contact_path(@conn, :edit, @case_id,  contact) %></span>
        <span><%= link "Delete", to: Routes.case_contact_path(@conn, :confirm_delete, @case_id, contact.id) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Contact", to: Routes.case_contact_path(@conn, :new, @case_id) %></span>
