<h1>New Contact</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.case_contact_path(@conn, :create, @case_id)) %>

<span><%= link "Back", to: Routes.case_contact_path(@conn, :index, @case_id) %></span>
