<h1>Show Contact</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @contact.title %>
  </li>

  <li>
    <strong>First name:</strong>
    <%= @contact.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @contact.last_name %>
  </li>

  <li>
    <strong>Mobile phone:</strong>
    <%= @contact.mobile_phone %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @contact.address %>
  </li>

  <li>
    <strong>Case:</strong>
    <%= @contact.case_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.case_contact_path(@conn, :edit, @case_id, @contact) %></span>
<span><%= link "Back", to: Routes.case_contact_path(@conn, :index, @case_id) %></span>
